//===========================================================================================================

body{
   &._burger-lock{
      overflow: hidden;
   }
}

//===========================================================================================================

[data-burger-menu-body]{
   @media(max-width: $mw3){
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease 0s;
      background: $black;
      opacity: 0;

      &._active{
         top: 0;
         overflow: auto;
         opacity: 1
      }
   }
}

//===========================================================================================================

[data-burger]{
   @extend .burger;
}

//===========================================================================================================