//===========================================================================================================

[data-spoiler-title]{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

//===========================================================================================================

[data-spoiler-span]{
   @extend .plus;
}

//===========================================================================================================