//===========================================================================================================

[data-spoiler-title]{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   @include adaptValue('gap', 15, 10, 0, 0)
}

//===========================================================================================================

[data-spoiler-span]{
   @extend .plus;
}

//===========================================================================================================