@import "./modules/null_styles";

$baseWidth: 1180;
$minWidth: 220;
$mw1: 1180px;
$mw2: 992px;
$mw3: 767px;

$red: #912105;
$black: rgba(0, 0, 0, 0.95);
$brown: #794f45;
$green: #7a956b;
$violet: #77608d;
$yellow: #ece89d;
$purple: #5e5473;
$lightGreen: #18b5a4;
$pink: #eb8698;

$trans: all 0.3s ease 0s;

@import './modules/mixins';
@import './modules/ready_classes';
@import './modules/ui'; 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
   font-family: 'Montserrat', sans-serif;
}

.wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: $mw1;
   margin: 0 auto;
   padding: 0 10px;
}

.header {
   color: white;
   position: fixed;
   width: 100%;
   z-index: 5000;

   &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //background: $violet;
      background: transparent;
      z-index: 1;
      transition: $trans;
   }

   ._burger-lock &{
      &::before{
         background: $red;
      }
   
   }

   // .header__row
   &__row {
      @include adaptValue('padding-top', 20, 10, 0, 0);
      @include adaptValue('padding-bottom', 20, 10, 0, 0);
      display: flex;
      @include adaptValue('gap', 20, 10, 0, 0);
      align-items: center;
   }
   // .header__logo
   &__logo {
      color: inherit;
      @include adaptValue('font-size', 30, 22, 0, 0);
      font-weight: 700;
      color: white;
      position: relative;
      z-index: 1;
   }
   // .header__menu
   &__menu {
   }
}

.menu {
   flex: 1 1 auto;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   // .menu__body
   &__body {
   }
   // .menu__list
   &__list {
      position: relative;
      z-index: 1;

      @media(min-width: 768px){
         display: flex;
         align-items: center;
         justify-content: flex-end;
         @include adaptValue('gap', 20, 10, 0, 0);
      }

      @media(max-width: 767px){
         @include adaptValue('padding', 20, 10, 0, 0);
         @include adaptValue('padding-top', 90, 45, 0, 0);

         &>*:not(:last-child){
            @include adaptValue('margin-bottom', 15, 10, 0, 0);
         }
         &>*:not(:first-child){
            @include adaptValue('margin-top', 15, 10, 0, 0);
         }
      }
   }
   // .menu__item
   &__item {
      @media(min-width: 768px){
         position: relative;

         @media(hover: hover){
            &:hover{
               &>.menu__sub-list{
                  visibility: visible;
                  opacity: 1;
                  pointer-events: all;
               }
               &>.menu__link{
                 color: $green;
               }

               & [data-spoiler-span]{
                  transform: rotate(180deg);
               }
            }
         }

         @media(hover: none){
            &._open{
               &>.menu__sub-list{
                  visibility: visible;
                  opacity: 1;
                  pointer-events: all;
               }
               &>.menu__link{
                 color: $green;
               }

               & [data-spoiler-span]{
                  transform: rotate(180deg);
               }
            }
         }
      }
   }
   // .menu__link
   &__link {
      @include adaptValue('font-size', 20, 18, 0, 0);
      @include adaptValue('padding-top', 10, 10, 0, 0);
      @include adaptValue('padding-bottom', 10, 10, 0, 0);

      color: white;

      @media(min-width: 768px){
         position: relative;
         transition: $trans;
      }

      @media(max-width: 767px){
         width: 100%;
         display: flex;
         @include adaptValue('font-size', 30, 22, 0, 0);
      }
   }
   // .menu__sub-list
   &__sub-list {
      //display: none;

      @media(min-width: 768px){
         position: absolute;
         @include adaptValue('padding', 10, 5, 0, 0);
         background: white;
         box-shadow: 0 0 10px 0 $black;
         border-radius: 5px;
        // color: black;
         top: 100%;
         left: 0;
         min-width: 100%;
         width: 150px;

         visibility: hidden;
         opacity: 0;
         
         transition: $trans;

         &>*:not(:last-child){
            @include adaptValue('margin-bottom', 5, 5, 0, 0);
         }
      }

      @media(max-width: 767px){
         &>*:not(:last-child){
            &>a{
               @include adaptValue('padding-bottom', 10, 10, 0, 0);
            }
         }
         &>*{
            &>a{
               @include adaptValue('padding-top', 10, 10, 0, 0);
            }
         }

         @include adaptValue('padding-left', 15, 10, 0, 0);
         @include adaptValue('padding-right', 15, 10, 0, 0);
      }
   }
   // .menu__sub-item
   &__sub-item {
      @media(min-width: 768px){
         @media(hover: hover){
            &:hover{
               &>.menu__sub-link{
                  color: #912105;
               }
            }
         }
      }
      @media(max-width: 767px){
         display: flex;
      }
   }
   // .menu__sub-link
   &__sub-link {
      @media(min-width: 768px){
         @include adaptValue('font-size', 16, 14, 0, 0);
         line-height: 1.2;
         cursor: pointer;
         font-weight: 500;
         transition: $trans;
         color: black;
      }

      @media(max-width: 767px){
         width: 100%;
         color: white;
         @include adaptValue('font-size', 20, 18, 0, 0);    
      }
   }
   // .menu__burger
   &__burger {
   }
}

.burger {
   background: transparent;
}

.full-screen {
   position: relative;
   min-height: 100vh;
   min-width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   // .full-screen__bg
   &__bg {
      // min-height: 100vh;
      // min-width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::before{
         content: '';
         background: rgba(0, 0, 0, 0.7);
         z-index: 3;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }

   }
   // .full-screen__body
   &__body {
      position: relative;
      z-index: 3;
      //color: white;
      max-width: $mw3;
      text-align: center;
      padding: 0 10px;
      // min-height: 100vh;
      // min-width: 100vw;
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;

      &>*:not(:last-child){
         @include adaptValue('margin-bottom', 20, 10, 0, 0);
      }

      //@include adaptValue('padding-bottom', 70, 50, 0, 0);
   }
   // .full-screen__title
   &__title {
      @include adaptValue('font-size', 50, 35, 0, 0);
      font-weight: 700;
      line-height: 1.2;
      color: white;
   }
   // .full-screen__sub-title
   &__sub-title {
      @include adaptValue('font-size', 30, 20, 0, 0);
      font-weight: 400;
      color: white;
   }
   // .full-screen__arrow
   &__arrow {
      position: absolute;
      color: white;
      font-size: 50px;
     // @include adaptValue('bottom', -70, -50, 0, 0);
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 10;
      background: transparent;
      animation-name: arrow-move;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate;
   }
}

@keyframes arrow-move{
   0%{   
      bottom: getVal(-60, -40);
   }
   100%{
      bottom: getVal(-80, -60);
   }
}
